.home {
    display: flex;
   background-color:  white;

  
    .homeContainer {
      flex: 6;
      margin-left: 15%;
  
      .widgets {
        display: flex;
        padding: 20px;
        gap: 20px;
      
      }
  
      
  
      .listContainer {
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 20px;
        margin: 20px;
        width: 95%;
        margin-left: 3%;
      
       
        // border: 3px solid rgb(67, 40, 116);
        // border-radius: 10px;
        
  
        .listTitle {
          font-weight: 500;
          color: rgb(67, 40, 116);
          margin-bottom: 15px;
        }
      }
    }
  }
  